<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


<mat-card>
    <form (submit)="onCalcular(clienteForm)" #clienteForm="ngForm">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <h3>Converter Binário para decimal</h3>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="">Binario</label>
                            <input required minlength="1" type="number" class="form-control" id="binario" name="binario"
                                placeholder="digite o numero binario" ngModel #binario="ngModel">

                            <mat-error *ngIf="binario.invalid">Digite numeros </mat-error>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="">Decimal</label>

                            <input type="number" class="form-control" readonly="" id="decimal" name="decimal "
                                placeholder="Resultado" value="{{decimal}}">


                        </div>
                    </div>
                    <hr>

                    <div style="text-align: center; width: 100%;">
                        <button type="submit" style="border-bottom: 0ch;" color="primary" mat-raised-button>
                            <h4>Calcular</h4>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </form>
</mat-card>



<!--<mat-card>
    <form (submit)="onAdicionarCliente(clienteForm)" #clienteForm="ngForm">
        <mat-form-field>
            <input required minlength="4" type="text" matInput placeholder="nome" name="nome" ngModel #nome="ngModel" />

            <mat-error *ngIf="nome.invalid">Digite um nome válido </mat-error>

        </mat-form-field>
        <hr>
        <mat-form-field>
            <input required type="text" matInput placeholder="fone" name="fone" ngModel #fone="ngModel" />

            <mat-error *ngIf="fone.invalid">Digite um fone válido </mat-error>

        </mat-form-field>
        <hr>
        <mat-form-field>
            <input required type="text" matInput placeholder="email" name="email" ngModel #email="ngModel" />

            <mat-error *ngIf="email.invalid">Digite um email válido </mat-error>

        </mat-form-field>
        <hr>
        <button color="primary" mat-raised-button>
            Inserir Cliente
        </button>
    </form>
</mat-card> -->